@model IEnumerable<Domain.Exam.ExamResultFinal>
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">لیست سوالات آزمون MBTI</h3>
        </div>
        <div class="card-body">
           <a asp-action="Create" class="btn btn-success" >جدید</a>
            <table class="table table-sm table-responsive table-hover table-striped text-center" style="width: auto">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descript)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descript)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-ResultId="@item.Id" class="btn btn-info" style="font-size: 10px">ویرایش</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

