
@model List<Domain.User.Permission.PermissionList>

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" @*style="overflow-y: scroll"*@>
    @foreach (var item in Model.Where(p => p.ActionName == null))
    {
        <li class="nav-item has-treeview">

            <a href="#" class="nav-link">
           
                <p>
                    <i class="fa fa-archive nav-icon"></i>
                    @item.Descript

                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>

            <ul class="nav nav-treeview">
                @foreach (var itemDetail in Model.Where(p => p.ParentId == item.PermissionListId))
                {
                    <li class="nav-item">

                        <a asp-action="@itemDetail.ActionName" asp-controller="@itemDetail.ControllerName" asp-area="@itemDetail.Area" class="nav-link">
                           
               
                            <p>@itemDetail.Descript </p>
                        </a>
                    </li>
                }

            </ul>
        </li>
  
    }
    <a class="text-center" href="/Logout" ><i class="fa fa-power-off" style="font-size: 30px;color: red"></i></a>

</ul>
