@using Core.Enums
@model Core.Dto.ViewModel.User.ShowUsersExam
@{
    ViewData["Title"] = "GetUserDoneExam";
}

<div class="card card-primary mt-3">
    <div class="card-header text-center">شرکت کنندگاه در @Model.ExamTitle</div>
    <div class="card-body">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UsersList.FirstOrDefault().UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsersList.FirstOrDefault().Email)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UsersList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="UserExamInfo" class="btn btn-primary" asp-route-UserId="@item.UserId" asp-route-ExamId="@Model.ExamId">نتیجه آزمون</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
        </div>
        </div>
        

