@model Core.Dto.ViewModel.Exam.ShowExamDetailToAdmin
@{
    ViewData["Title"] = "ShowMbtiResult";
}
<div class="card card-primary text-center">
    <div class="card-header">
        جزیئات آزمون دهنده
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-6">
                <div class="card card-info">
                    <div class="card-header">
                        تعداد گزینه های انتخاب شده
                    </div>
                    <div class="card-body text-center">

                        <table class="table table-sm table-responsive table-hover table-striped text-center" style="width: auto">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.examDetailItems.FirstOrDefault().Title)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.examDetailItems.FirstOrDefault().SelectCount)
                                    </th>

                                  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.examDetailItems)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.SelectCount)
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>




                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header">
                   پاسخ نمایش داده شده به کاربر:(     @Model.examResultFinal.Descript )
                    </div>
                    <div class="card-body">

                        <h4>با توجه به گزینه های انتخاب شده شغل های ذیل برای شما مناسب می باشد </h4>

                        @Html.Raw(Model.examResultFinal.FinalResult.Replace(".", ".<br>"))




                    </div>
                </div>
            </div>

        </div>




    </div>
</div>


